<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>724384726175-9eels6f6c3hatpljhlua0lj4pn0nu6ok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724384726175-9eels6f6c3hatpljhlua0lj4pn0nu6ok</string>
	<key>API_KEY</key>
	<string>AIzaSyBBn93t9XqNOoTdBbSBM3uiMBxmnl88w0c</string>
	<key>GCM_SENDER_ID</key>
	<string>724384726175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sgedwardlim.wirk</string>
	<key>PROJECT_ID</key>
	<string>wirk-37b87</string>
	<key>STORAGE_BUCKET</key>
	<string>wirk-37b87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:724384726175:ios:8f2e2f448a41f26b</string>
	<key>DATABASE_URL</key>
	<string>https://wirk-37b87.firebaseio.com</string>
</dict>
</plist>